  body,html {
    margin: 0x;
    padding: 00px;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  #options {
    text-align: center;
    margin: 10px;
  }

  #container {
    width: 100%;
    max-width: 450px;
    height: 100vw;
    max-height: 450px;
    display: grid;
    margin: auto;
    text-align: center;
    background-color: ghostwhite;
    border-style: groove;
    border-color: rgba(255, 0, 0, 0.438);
    border-width: 7px;
  }